---
title: clay.codes
---

<div class="welcome">
  <h1>&lt;clay&gt;&lt;/codes&gt;</h1>
  <p class="doc">
    <%= link_to "Follow Me :)", "http://twitter.com/Clay_Stewart" %>
  </p><!-- .doc -->
  <p class="doc">
    <%= link_to "Fork Me", "http://github.com/clamstew" %>
  </p><!-- .doc -->
</div><!-- .welcome -->